<div style="width: 400px;" class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>

    <div class="form-group">
        <label class="h3" for="usr">Temperature</label>
        <input type="text" class="form-control" id="usr" [(ngModel)]='temperatureInput' />
    </div>
    
    <h3>Convert From </h3>
    
    <select class="form-control" [(ngModel)]="selectedFromOption">   
        <option *ngFor="let temp of temperatures" [value]="temp.temperatureType">
            {{temp.temperatureType}}
        </option>   
    </select>

    <br/>
    <h3>Convert To </h3>
    <select  class="form-control" [(ngModel)]="selectedToOption">   
        <option *ngFor="let temp of temperatures" [value]="temp.temperatureType">
            {{temp.temperatureType}}
        </option>   
    </select>

    <br/>
    <button type="button" class="btn btn-info" (click)='convertMetric()'>Convert</button>
    <br/>
    <label class="h3" for="usr">{{temperatureOutput}}</label>
    <br/><br/>
    <hr/>
    <h3>Sample Metric Table</h3>
    <div class='table-responsive'>
    <table class='table table-striped'
           *ngIf='temperatures.length'>
      <thead class="thead-dark">
        <tr>
          <th>Temperature Metric : </th>
          <th>Temperature</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let t1 of temperatures'>
          <td style="text-align: left;">
              {{ t1.temperatureType }}
          </td>
          <td style="text-align: right;">{{ t1.temperatureValue }}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
  </div>