<div>
  <div class="jumbotron">
    <h1>Swinkaran - Temperature Converter</h1>
    </div>
</div>
<div style="text-align:center">
  <nav class='navbar navbar-inverse navbar-light bg-dark'>
    <ul class='nav nav-pills'>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/welcome'>Home</a></li>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/temperature'>Temperatures</a></li>
    </ul>
  </nav>

  <div class="container">
    <div class="text-center">
      <router-outlet></router-outlet>
    </div>
</div>
</div>
